/PTv3/Bin
/PTv3/PTClientUI/obj
/PTv3/PTCommunication/Debug
/PTv3/PTStation/Debug
/PTv3/*.sdf
/PTv3/*.suo
/PTv3/ipch
/PTv3/PTStation/*.user
/PTv3/*.opensdf
/PTv3/pt-station-linux
/PTv3/QuoteBroadcast/Debug
/PTv3/QuoteBroadcast/*.filters
/PTv3/QuoteBroadcast/*.user
/PTv3/PTStation/Release/PTStationFM
/PTv3/PTStation/Release/PTStationZeus
/PTv3/quote-broadcast
/PTv3/PTCommunication/Release
/PTv3/PTStation/Release
/PTv3/*.zip
/PTv3/PTCommunication/*.aps
/PTv3/PTStation/*.aps
/PTv3/QuoteBroadcast/Release
