<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
    <add key="42" value="180.166.182.12:62248"/>
    <add key="47" value="101.251.67.87:62308"/>
    <add key="61" value="180.166.182.12:62263"/>
    <add key="gtja-fm" value="114.80.82.243:20010"/>
    <add key="gtja-fm-mb" value="117.184.124.21:20010"/>
    <add key="gf-fm" value="124.74.248.198:30009"/>
    <add key="zeusing" value="172.31.78.122:16181"/>
    <add key="fangzheng" value="172.16.115.33:16181" />
  </appSettings>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log\ui.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>

    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
